body, html{}

header{

}

body{
	background-color: #e5e5e5;

	
}

	
}
.side-nav{
	background-color: transparent;
}
.logo{
	max-height: 2em;
	
}



}
.side-nav a{
	background-color:#474747;
}
.side-nav li a:not(.button):hover, .side-nav li a:not(.button):focus {
    background-color: none;
    color: yellow;
}


.face{
	max-width: 200pt;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 200%;
	position:relative;
}
.background{
	width: 100%;
	overflow: hidden;
	position:absolute;
	background-size: cover;
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */

footer{
	bottom:0;
	position: fixed;
	background-color:black;
	color:white;
	left:0;
	width: 100%;
}