body, html{}

header{
	
}

header .top-bar{
	background-color: #EEF342;
	height:5rem;
}

body{
	background-color: #EEF342;
	text-align: center;
	
}
.kp{
	max-width:350pt;
	overflow: hidden;
}


header .logo{
	max-height: 5em
	
}
h4{
	text-align:center;
}
h4 a{
	font-size: 20pt;
	text-align: center;
	color: green;
}

.product-grid-main{
	padding:3rem 0;
	background:url(../img/hood-mesh.jpg);
}


.top-bar-section li:not(.has-form) a:not(.button){
	background-color:#EEF342 ;	
	color:black;
}

.top-bar-section li:not(.has-form) a:not(.button):hover{
	background-color:#EEF342;
	color:green;
}

.top-bar-section li.active:not(.has-form) a:not(.button){
	background-color:#EEF342;
}



.face{
	max-width: 350pt;
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50%;
	position: relative;
}
.links{
	text-align: center;
}




// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */


footer{
	background-color:black;
	color:white;
	text-align: center
}

footer p {
	margin-bottom:0;
}